<div class="container index-container">
    <h2><%= @user.email %></h2>
</div>

<div class="container">
  <div class="row">
    <% @user.posts.each do |post| %>
      <% if @user.posts.each.nil? %>
        <h2 class="text-cnt">No user's Zoekbee's to show</h2>
      <% else %>
        <div class="col-sm text-cnt">
            <%= render partial: 'partials/post', locals: {post: post} %>
        </div>
      <% end %>  
    <% end %>
  </div>
</div>

    