<h1>Show user's information</h1>
<h2><%= @user.email %></h2>

<% @user.posts.each do |post| %>
    <%= render partial: "/partials/post", locals: {post: post} %>
    <% if current_user == post.user %>
        <div><%= button_to "Delete", post, method: :delete, class: "btn btn-danger" %></div>
        redirect_to '/users/#{user.id}'
    <% end %>
<% end %>

<%= link_to "Home", root_path %>