<div class="container index-container">
    <h2>Overview companies</h2>
    <%= link_to "Create new company", new_company_path %>
</div>

<div class="container">
  <div class="row">
    <% @companies.each do |company| %>
    <div class="col-sm text-cnt">
        <%= render partial: 'partials/company_information', locals: {company: company} %>
    </div>
    <% end %>   
  </div>
</div>