body#my-body {
  font-family: 'Roboto Slab', serif;
  margin-top: 3.5em;
}

.index-container {
  display: flex;
  justify-content: center;
}

.text-cnt {
  text-align: center;
}

.my-pic {
  width: 300px;
}

.link-center {
  display: flex;
  justify-content: center;
}

.h2-cnt {
  display: flex;
  justify-content: center;
}
